@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background-color: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.left-login > h1 {
    font-size: 2vw;
    color: #77ffc0;
}

.animation-login {
    width: 35vw;
    margin-top: 40px;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 55%;
    max-width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 6px 0;
    border: none;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #514869;
    color: white;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    box-sizing: border-box;
    outline: none;
}

.textfield > input::placeholder {
    color: #ffffff79;
}

.textfield > label {
    color: #f0ffffde;
    margin-bottom: 8px ;
}

.btn-login {
    width: 70%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    margin-top: 25px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: #2b134b;
    background-color: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
    transition: all linear 0.4s;
}

.btn-login:hover {
    background-color: #533a81;
    color: white;
}

.btn-register{
    width: 70%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: #2b134b;
    background-color: #f0ffffaf;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff802c;
    transition: all linear 0.4s;
}

.btn-register:hover {
    background-color: white;
}

@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .main-login {
        flex-direction: column;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .left-login > img {
        width: 50vw;
        margin-bottom: 30px;
    }

    .left-login > h1 {
        display: none;
    }
    
    .right-login {
        width: 100%;
        height: auto;
    }
    
    #footer {
        margin-top: 70px
    }
}


